<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="JNTwo\LicensePlate\Api\ClientRepositoryInterface" type="JNTwo\LicensePlate\Model\Api\ClientRepository"/>
</config>
